In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import seaborn as sns

from collections import Counter
import re

In [3]:
df = pd.read_csv('../../data/output (3).csv')
df.head()

,id,text_no_spaces,text,predicted_positions
0,0,куплюайфон14про,куплюайфон 14 про,"[10, 12]"
1,1,ищудомвПодмосковье,и щудом в Подмосковье,"[1, 6, 7]"
2,2,сдаюквартирусмебельюитехникой,сдаю квартиру с мебелью и техникой,"[4, 12, 13, 20, 21]"
3,3,новыйдивандоставканедорого,новый диван доставка недорого,"[5, 10, 18]"
4,4,отдамдаромкошку,отдам даром кошку,"[5, 10]"